.container {
  display: block;
  width: 88%;
  max-width: var(--_components---container--max-width);
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.container.cc-nav {
  display: flex;
  overflow: clip;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 479px) {
  .container.cc-nav {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.u-text-center {
  text-align: center;
}

.container.flex-box {
  display: block;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-bf6faaa8-2bf5-9c53-b568-f9d802b7c009;
}

@media screen and (max-width: 479px) {
  .container.flex-box {
    flex: 0 auto;
  }
}

.container.flex-box.cpr_container {
  width: 100%;
  max-width: 1327px;
  padding-right: 60px;
  padding-left: 60px;
}

.container.flex-box.cpr_container:where(.w-variant-5a57e8fe-f683-d12b-bd10-ad250accb6b0) {
  max-width: 979px;
}

@media screen and (max-width: 991px) {
  .container.flex-box.cpr_container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 479px) {
  .container.flex-box.cpr_container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .container.second-footer-mobile-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.container-3 {
  grid-template-areas: "Area Area . . Area-2 Area-2"
  "Area-3 Area-3 Area-3 Area-3 Area-3 Area-3";
}

.heading-10-2 {
  display: block;
  flex: 1;
}

@media screen and (max-width: 479px) {
  .heading-10-2 {
    display: block;
    box-sizing: border-box;
    object-fit: fill;
  }
}

.heading-10-2.tabs_heading {
  position: absolute;
}

@media screen and (max-width: 767px) {
  .heading-10-2.tabs_heading {
    position: static;
  }
}

.tabs {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area Area Area Area-2 Area-2 Area-2"
  "Area-3 Area-3 Area-3 Area-3 Area-3 Area-3";
  grid-template-columns: minmax(200px, 1.25fr) 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .tabs {
    grid-row-gap: 7px;
    grid-template-areas: "Area Area Area Area-2 Area-2 Area-2"
    "Area-3 Area-3 Area-3 Area-3 Area-3 Area-3";
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .tabs {
    display: block;
    margin-top: 20px;
    grid-auto-columns: minmax(auto, 1fr);
    grid-template-areas: "Area Area Area Area Area Area"
    "Area-2 Area-2 Area-2 Area-2 Area-2 Area-2"
    "Area-3 Area-3 Area-3 Area-3 Area-3 Area-3";
    grid-template-columns: minmax(200px, 1fr) 1.25fr;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .tabs {
    width: 100%;
    justify-content: start;
    justify-items: stretch;
    align-content: start;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.tabs-menu {
  display: flex;
  overflow: auto;
  width: auto;
  padding: 10px;
  justify-content: flex-end;

  border: 1px solid var(--_color---neutral--gray-100);
  border-radius: var(--_components---input--border-radius);

  background-color: hsla(216, 16.13%, 93.92%, 0.23);
}

@media screen and (max-width: 991px) {
  .tabs-menu {
    display: flex;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .tabs-menu {
    overflow: auto;
  }
}

@media screen and (max-width: 479px) {
  .tabs-menu {
    display: flex;
    overflow: auto;
    width: 100%;
  }
}

.cpr_tab {
  display: block;
  width: auto;
  height: 38px;
  min-width: auto;
  padding: 0.5rem 0.75rem;

  border-radius: var(--_border---border-ratio-tiny);

  background-color: transparent;

  color: var(--colors--text);
  text-align: center;

  cursor: pointer;

  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: base;
}

.cpr_tab:global(.w--current) {
  background-color: var(--_color---secondary--brand-blue-100);
  color: var(--_color---secondary--brand-blue-400);
  font-weight: var(--_typography---h2--font-weight);
}

@media screen and (max-width: 767px) {
  .cpr_tab {
    overflow: clip;
    min-width: 170px;
    align-self: center;
    text-align: center;
  }
}

.cpr_tab.active {
  display: block;
  background-color: var(--_color---neutral--brand-blue-000);
}

.cpr_tab.active.u-fit-content {
  min-width: auto;
}

.cpr_tab.u-w-190 {
  width: auto;
  min-width: auto;
}

.tab_text {
  color: inherit;
}

.tabs-content {
  padding-right: 0px;
  padding-left: 0px;
  border: 0px solid black;
  border-radius: 3px;
  background-color: transparent;
}

@media screen and (max-width: 479px) {
  .tabs-content {
    display: block;
    overflow: hidden;
    border-width: 0px;
    border-radius: 0px;
  }
}

.cpr_card_list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--_layout---spacing--margin-sm);
  grid-row-gap: var(--_layout---spacing--margin-sm);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.heading-11 {
  color: var(--_color---secondary--brand-blue-700);
}

#w-node-_095e4e2d-362d-fea1-d614-e6b2102751ba-102751b8 {
}
#w-node-_095e4e2d-362d-fea1-d614-e6b2102751bc-102751b8 {
  grid-area: Area-2;
}
#w-node-_095e4e2d-362d-fea1-d614-e6b2102751c6-102751b8 {
  grid-area: Area-3;
}
@media screen and (max-width: 479px) {
  #w-node-_095e4e2d-362d-fea1-d614-e6b2102751ba-102751b8 {
  }
}