.cpr_card {
  display: flex;
  padding: 20px 20px 0px;
  border: 1px solid var(--colors--border);
  border-radius: var(--_components---input--border-radius);
  box-shadow: 0 2px 10px 0 hsla(0, 0.00%, 0.00%, 0.14);
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
}

.h4 {
  margin-top: 0px;
  margin-bottom: var(--_typography---h4--bottom-margin);

  font-family: var(--_typography---h4--font);
  font-size: var(--_typography---h4--font-size);
  line-height: var(--_typography---h4--line-height);
  font-weight: var(--_typography---h1--font-weight);
  letter-spacing: var(--_typography---h4--letter-spacing);
}

.paragraph-7 {
  padding-bottom: 10px;
}