.repair_certified_banner {
  position: relative;

  display: flex;
  min-height: 18rem;
  padding: 20px 30px;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  border-radius: var(--_border---border-ratio-large);

  background-color: var(--_color---secondary--brand-blue-400);

  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-bf6faaa8-2bf5-9c53-b568-f9d802b7c009;
}

@media screen and (max-width: 991px) {
  .repair_certified_banner {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .repair_certified_banner {
    width: 100%;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .repair_certified_banner {
    width: 100%;
    padding-bottom: 0px;
  }
}

.repair_certified_banner.custom_banner_props {
  min-height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.image {
  width: 20.8rem;
  object-fit: contain;
}

@media screen and (max-width: 991px) {
  .image {
    align-self: center;
    flex: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .image {
    align-self: center;
    flex: 1;
  }
}

.certified_banner_content {
  display: flex;
  width: 8%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex: 1;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 991px) {
  .certified_banner_content {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.u-d-flex {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

@media screen and (max-width: 991px) {
  .content {
    justify-content: center;
    align-items: center;
  }
}

.heading-2 {
  color: var(--colors--text);
  font-size: var(--_typography---h3--font-size);
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-bf6faaa8-2bf5-9c53-b568-f9d802b7c009;
}

.paragraph {
  font-family: var(--_typography---fonts--primary-font);
  color: var(--_color---neutral--white);
  font-size: var(--_typography---privacy-sub-heading);
  line-height: var(--_typography---paragraph-lg--line-height);
  font-weight: var(--_typography---paragraph-xl--font-weight);
}

@media screen and (max-width: 767px) {
  .paragraph {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .paragraph {
    text-align: center;
  }
}

.code-embed {
  position: absolute;
  top: -14px;
  right: -12px;
  width: 34px;
  height: 34px;
}