.header-ratting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

@media screen and (max-width: 479px) {
  .header-ratting-container {
    justify-content: center;
    align-items: center;
  }
}

.header-rating-images {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.u-w-80 {
  width: 80px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 50px;

  object-fit: cover;
}

.u-w-80.u-ml-10 {
  margin-left: -17px;
}

.u-w-80.u-ml-10 {
  height: 50px;
  min-height: 50px;
  min-width: 50px;
}

.heder-ratings {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.header-rating-text {
  font-size: 12px;
  font-weight: 300;
}

.u-text-black {
  color: var(--colorBase-53d573b6);
}

.rating-block {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.code-embed-9 {
  display: flex;
  margin-left: -8px;
  justify-content: flex-start;
  align-items: center;
}

.code-embed-10 {
  margin-top: 1px;
}

.rating-text {
  color: var(--_color---neutral--gray-700);
}

.rating-text.u-text-white {
  color: var(--colors--text);
  font-size: 12px;
}

.u-text-white {
  color: var(--white-0065a3d9);
}

.rating-text.u-text-white.u-text-black {
  color: var(--colors--background);
}