.cell_phone_warranty {
  display: flex;
  min-height: 390px;
  padding: 30px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  border-radius: var(--_border---border-ratio-large);

  background-color: var(--_color---secondary--orange-000);
}

@media screen and (max-width: 991px) {
  .cell_phone_warranty {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .cell_phone_warranty {
    padding: 16px;
  }
}

.cell_phone_warranty.u-bg-white {
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: nowrap;
  border: 1px solid #f3f2f2;
  background-color: var(--colors--text);
}

@media screen and (max-width: 991px) {
  .cell_phone_warranty.u-bg-white {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.u-bg-white {
  background-color: var(--white-0065a3d9);
}

.cell_phone_warranty.u-brand-blue-000 {
  background-color: var(--_color---secondary--brand-blue-000);
}

.warranty_image_container {
  height: auto;
}

.image-7 {
  width: 100%;
  min-height: 281px;
  min-width: 490px;
}

@media screen and (max-width: 767px) {
  .image-7 {
    min-width: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .image-7 {
    min-width: 100%;
    object-fit: cover;
  }
}

.warranty_content_holder {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.warranty-heading {
  color: var(--_color---neutral--gray-700);
  font-weight: var(--_typography---h2--font-weight);
  font-size: 2.125rem;
}

.warrant_heading {
  color: var(--_color---neutral--gray-700);
  font-weight: var(--_typography---h1--font-weight-800);
}

.warrant_heading.warrant-sub-heading-margin {
  margin-top: 12px;
  font-size: 1.125rem;
}

.warranty-text {
  color: var(--_color---neutral--gray-700);
}

.location {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 991px) {
  .location {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .location {
    margin-top: 0px;
  }
}

.location.u-mt-20 {
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .location.u-mt-20 {
    justify-content: flex-start;
    align-items: center;
  }
}

.code-embed-3 {
  padding-top: 10px;
}

.button-2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: hsla(0, 2.51%, 5.85%, 0.02);

  background-color: transparent;

  color: #fff;
}