.inline-video_component {
  position: relative;
  overflow: clip;
}

.inline-video_poster {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  display: block;
  width: 100%;
  height: 100%;
}

.inline-video_video {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.inline-video_playback {
  position: absolute;
  left: auto;
  top: auto;
  right: 12px;
  bottom: 12px;
  z-index: 2;

  display: block;
  width: 32px;
  height: 32px;
}

.inline-video_playback:where(.w-variant-bff7d6aa-4621-33b8-a026-e358aa412bf4) {
  left: 12px;
  right: auto;
}

.inline-video_playback:where(.w-variant-842374e0-903f-eecd-c997-9093dc594ae3) {
  top: 12px;
  bottom: auto;
}

.inline-video_playback:where(.w-variant-20bd0888-d42c-e5bf-c758-041b16325e6f) {
  left: 12px;
  top: 12px;
  right: auto;
  bottom: auto;
}

.inline-video_playback-button {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;

  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0px;
  justify-content: center;
  align-items: center;

  border-radius: var(--_components---button--border-radius);

  background-color: white;

  transition: background-color 300ms cubic-bezier(.165, .84, .44, 1);

  color: #1d1c1a;
  font-size: 1.2rem;
}

.inline-video_playback-button:hover {
  background-color: #d8d8d8;
}

.inline-video_playback-button:focus-visible {
  outline-color: var(--colors--primary-accent);
  outline-offset: -4px;
  outline-style: solid;
  outline-width: 2px;
}

.inline-video_playback-button.cc-play {
  display: none;
  padding-right: 0.125rem;
}

.inline-video_playback-button.cc-pause {
  display: flex;
}