.crp_benefit_section {
  position: relative;
  padding-top: var(--_components---section--padding);
  padding-bottom: var(--_components---section--padding);
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: base;
}

.crp_benefit_section:where(.w-variant-ffdae436-6d76-12b6-39d6-0e4201c47aad) {
  background-color: var(--colors--text);
  color: var(--colors--background);
}

.crp_benefit_section:where(.w-variant-8251da35-d56b-3ffb-d48d-7c7a41627606) {
  background-color: var(--_color---neutral--light-gray);
  color: var(--_color---neutral--black);
}

.crp_benefit_section:where(.w-variant-24d38caf-5dc4-e032-8615-f1b8b9543543) {
  background-color: var(--_color---neutral--dark-gray);
  color: var(--_color---neutral--white);
}

@media screen and (max-width: 767px) {
  .crp_benefit_section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .crp_benefit_section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.crp_benefit_section.cc-footer {
  margin-top: auto;
  padding: 1.9rem;

  border-top: 1px solid var(--_color---neutral--dark-gray);
  border-radius: var(--_border---border-ratio-large);

  background-color: var(--_color---secondary--dark-blue-700);

  color: var(--colors--text);
}

.crp_benefit_section.cc-footer:where(.w-variant-03470b75-1c46-84c5-1d69-d2bb1e4cbe42) {
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-bf6faaa8-2bf5-9c53-b568-f9d802b7c009;
}

@media screen and (max-width: 479px) {
  .crp_benefit_section.cc-footer {
    padding: 30px;
  }
}

.crp_benefit_section.cc-footer.second-footer {
  border: 1px solid var(--_color---neutral--gray-400);
  background-color: var(--_color---neutral--gray-100);
}

.crp_benefit_section.cc-themed {
  background-color: var(--colors--background);
  color: var(--colors--text);
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: base;
}

.crp_benefit_section.cc-themed:where(.w-variant-ffdae436-6d76-12b6-39d6-0e4201c47aad) {
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-bf6faaa8-2bf5-9c53-b568-f9d802b7c009;
}

.crp_benefit_section.cc-themed:where(.w-variant-8251da35-d56b-3ffb-d48d-7c7a41627606) {
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-58b0a2b9-2dc1-9157-a0dd-7d9af1d425d6;
}

.crp_benefit_section.cc-themed:where(.w-variant-24d38caf-5dc4-e032-8615-f1b8b9543543) {
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-f069190d-3662-920d-afc0-b53953d4bc44;
}

.div-block-5 {
  display: flex;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  border-top-left-radius: var(--_border---border-ratio-large);
  border-top-right-radius: var(--_border---border-ratio-large);
  border-bottom-left-radius: var(--_border---border-ratio-large);
  border-bottom-right-radius: var(--_border---border-ratio-large);

  background-color: #f3f2f2;
}

.div-block-5.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 991px) {
  .div-block-5.row {
    display: flex;
    padding-top: 20px;
    padding-right: 16px;
    padding-bottom: 20px;
    padding-left: 16px;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .div-block-5.row {
    display: flex;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .div-block-5.row {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

.row {
  display: flex;
  padding-top: 0px;
  flex-wrap: wrap;
  align-content: stretch;
  grid-row-gap: var(--_layout---grid--gap-main);
  margin-left: calc(var(--_layout---grid--gap-main) / 2 * -1);
  margin-right: calc(var(--_layout---grid--gap-main) / 2 * -1);
}

.row:where(.w-variant-478364d0-b9a1-9a8d-3561-fc2372ac7598) {
  justify-content: center;
}

.row:where(.w-variant-5d43bd90-6372-654d-731d-541adec41264) {
  justify-content: space-between;
}

.row:where(.w-variant-74857e04-b06e-e825-b9a7-b1c429c16d7e) {
  align-items: center;
}

.row:where(.w-variant-83b17255-59f7-790b-da69-1e44aab5c586) {
  justify-content: center;
  align-items: center;
}

.row:where(.w-variant-d8cdc2fb-aedc-5d05-72c6-68fd71715228) {
  justify-content: space-between;
  align-items: center;
}

.row:where(.w-variant-b304d51f-8499-8e80-0632-b7e8accf301a) {
  justify-content: flex-end;
  align-items: stretch;
}

.row:where(.w-variant-84c0d3ac-e67c-aa17-8572-49b2e539ff14) {
  justify-content: flex-end;
  align-items: center;
}

.row:where(.w-variant-3d1b8c14-9e99-f9f9-47c1-87e724473bc0) {
  justify-content: flex-start;
  align-items: flex-end;
}

.row:where(.w-variant-30bc1b76-8350-656c-94d9-a238454cac88) {
  justify-content: flex-end;
  align-items: flex-end;
}

.row:where(.w-variant-17c26d76-ad6d-56cb-bed9-f93779ad31e8) {
  justify-content: center;
  align-items: flex-end;
}

.row:where(.w-variant-c4e0622f-418c-65e4-f062-f3424e8d2467) {
  justify-content: space-between;
  align-items: flex-end;
}

.div-block-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 0 auto;
}

.col {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding-left: calc(var(--_layout---grid--gap-main) / 2);
  padding-right: calc(var(--_layout---grid--gap-main) / 2);
}

.col:where(.w-variant-28e74f51-d7e2-a771-32c6-dda728ccfa16) {
  max-width: 16.666666666666664%;
  flex: 25%;
}

.col:where(.w-variant-2a872dd3-bab5-8141-0ad7-251b924e42e6) {
  max-width: 33.333333333333336%;
  flex-grow: 1;
  flex-basis: 33.333333333333336%;
}

.col:where(.w-variant-52b169ce-f9c2-1128-cb8d-e5acee9f9159) {
  max-width: 50%;
  flex-grow: 1;
  flex-basis: 50%;
}

.col:where(.w-variant-f8adaa2d-7dff-f490-b6dd-19f48419d59b) {
  max-width: 75%;
  flex: 75%;
}

.col:where(.w-variant-1809bbfe-93c5-9995-a76f-dc2c5b37bfe3) {
  max-width: 41.66666666666667%;
  flex: 41.66666666666667%;
}

.col:where(.w-variant-d2d2a23d-14a1-7f5e-e8ec-4a285e5f4a7b) {
  max-width: 58.333333333333336%;
  flex: 58.333333333333336%;
}

.col:where(.w-variant-c40c2b54-bd7f-c6df-c4ad-1c9f757a89d2) {
  max-width: 66.66666666666666%;
  flex-basis: 66.66666666666666%;
}

.col:where(.w-variant-63569d8e-a8ac-61e1-0666-21eb6073c541) {
  flex: 0 auto;
}

.col:where(.w-variant-95c67bf8-407f-143d-c1b2-46906c26a2f4) {
  max-width: 83.33333333333334%;
  flex: 83.33333333333334%;
}

.col:where(.w-variant-6f373193-993b-d370-7068-a233ac19befc) {
  max-width: 91.66666666666666%;
  flex: 91.66666666666666%;
}

.col:where(.w-variant-c2470e99-215a-e78c-3ec0-c579f938e15e) {
  max-width: 100%;
  flex: 100%;
}

.col:where(.w-variant-37882ba8-3b46-b8b4-f297-a33f19abd3db) {
  max-width: 25%;
  flex: 25%;
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-28e74f51-d7e2-a771-32c6-dda728ccfa16) {
    max-width: 33.333333333333336%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-2a872dd3-bab5-8141-0ad7-251b924e42e6) {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-f8adaa2d-7dff-f490-b6dd-19f48419d59b) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-1809bbfe-93c5-9995-a76f-dc2c5b37bfe3) {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-d2d2a23d-14a1-7f5e-e8ec-4a285e5f4a7b) {
    max-width: 100%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-c40c2b54-bd7f-c6df-c4ad-1c9f757a89d2) {
    max-width: 100%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-95c67bf8-407f-143d-c1b2-46906c26a2f4) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-6f373193-993b-d370-7068-a233ac19befc) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-37882ba8-3b46-b8b4-f297-a33f19abd3db) {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-2a872dd3-bab5-8141-0ad7-251b924e42e6) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-52b169ce-f9c2-1128-cb8d-e5acee9f9159) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-1809bbfe-93c5-9995-a76f-dc2c5b37bfe3) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-d2d2a23d-14a1-7f5e-e8ec-4a285e5f4a7b) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-c40c2b54-bd7f-c6df-c4ad-1c9f757a89d2) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-28e74f51-d7e2-a771-32c6-dda728ccfa16) {
    max-width: 50%;
  }
}

@media screen and (max-width: 479px) {
  .col:where(.w-variant-28e74f51-d7e2-a771-32c6-dda728ccfa16) {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 479px) {
  .col:where(.w-variant-63569d8e-a8ac-61e1-0666-21eb6073c541) {
    flex: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .col:where(.w-variant-37882ba8-3b46-b8b4-f297-a33f19abd3db) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 479px) {
  .div-block-6.col.col-lg-6.col-md-12.col-sm-12 {
    min-width: auto;
  }
}

.heading-6 {
  color: var(--colors--background);
  margin-bottom: var(--_border---border-ratio-large);
}

.cpr-tabs {
  display: flex;
  overflow: scroll;
  width: 100%;
  max-height: none;
  max-width: 100%;
  min-height: auto;
  min-width: 100%;
  padding: 10px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;

  background-color: var(--colors--text);
}

@media screen and (max-width: 767px) {
  .cpr-tabs {
    overflow: scroll;
    max-width: none;
    min-width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .cpr-tabs {
    overflow: scroll;
    width: 100%;
    max-width: 490px;
    min-width: 100%;
  }
}

.cpr_tab {
  display: block;
  width: auto;
  height: 38px;
  min-width: auto;
  padding: 0.5rem 0.75rem;

  border-radius: var(--_border---border-ratio-tiny);

  background-color: transparent;

  color: var(--colors--text);
  text-align: center;

  cursor: pointer;

  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: base;
}

.cpr_tab:global(.w--current) {
  background-color: var(--_color---secondary--brand-blue-100);
  color: var(--_color---secondary--brand-blue-400);
  font-weight: var(--_typography---h2--font-weight);
}

@media screen and (max-width: 767px) {
  .cpr_tab {
    overflow: clip;
    min-width: 170px;
    align-self: center;
    text-align: center;
  }
}

.cpr_tab.active {
  display: block;
  background-color: var(--_color---neutral--brand-blue-000);
}

.cpr_tab.active.u-fit-content {
  min-width: auto;
}

.cpr_tab.u-w-190 {
  width: auto;
  min-width: auto;
}

.crp-content {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.rating-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  order: 0;

  color: var(--colors--background);
  font-weight: var(--_typography---h1--font-weight-800);
}

.u-mb-0 {
  margin-bottom: 0px;
  border-radius: 0px;
  opacity: 1;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .u-mb-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .u-mb-0 {
    margin-bottom: 0px;
    padding-left: 0em;
  }
}

.testimonial-paragraph {
  color: var(--colors--background);
  font-size: var(--_typography---paragraph-xl--bottom-margin);
  font-weight: var(--_typography---paragraph-body--font-weight);
}

.div-block-8 {
  display: flex;
  width: auto;
  max-width: none;
  margin-top: auto;
  padding-top: 25px;
  justify-content: flex-start;
  align-items: stretch;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  object-fit: fill;
}

@media screen and (max-width: 991px) {
  .div-block-8 {
    margin-bottom: 0px;
    padding-top: 37px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .div-block-8 {
    padding-top: 36px;
  }
}

.u-h-38 {
  height: 38px;
  max-height: 38px;
  min-height: 38px;
}

.u-h-38.u-w-38 {
  width: 38px;
  max-width: 38px;
  min-width: 38px;
}

.u-h-38.u-w-38.u-br-20 {
  display: flex;
  padding: 13px;
  justify-content: center;
  align-items: center;

  border-radius: var(--_border---border-ratio-large);

  background-color: var(--_color---neutral--gray-200);
}

.u-h-38.u-w-38.u-br-20.u-bg0-warning-100 {
  background-color: var(--_color---secondary--orange-100);
}

.u-h-38.u-w-38.u-br-20.u-bg-orange-100 {
  background-color: var(--_color---secondary--orange-100);
}

.div-block-7 {
  flex: 0 auto;
}

@media screen and (max-width: 991px) {
  .div-block-7.col.col-lg-6.col-sm-12.col-md-12 {
    justify-content: center;
    align-items: center;
  }
}

.image-4 {
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;

  border-radius: var(--_border---border-md);

  text-align: center;

  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .image-4 {
    width: auto;
    min-width: auto;
  }
}

@media screen and (max-width: 479px) {
  .image-4 {
    width: 336px;
    border-radius: 8px;
    object-fit: cover;
  }
}