.repair-card {
  position: relative;

  display: flex;
  width: 173px;
  height: 140px;
  max-height: 140px;
  max-width: 173px;
  min-height: 185px;
  min-width: 173px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-self: auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  border-radius: 12px;

  background-color: var(--_color---neutral--gray-100);

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);

  cursor: pointer;
}

.repair-card:hover {
  background-color: var(--colors--text);
}

@media screen and (max-width: 479px) {
  .repair-card {
    width: 173px;
    height: 185px;
    max-height: 185px;
    max-width: 173px;
    min-width: 173px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex: 0 auto;
  }
}

.repair-card.u-bg-lightgray {
  position: relative;

  display: flex;
  max-height: 185px;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  border-radius: var(--_border---border-md);

  background-color: var(--_color---neutral--gray-100);

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  pointer-events: auto;

  cursor: pointer;
  mix-blend-mode: normal;
}

.repair-card.u-bg-lightgray:hover {
  background-color: var(--_color---neutral--white);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

.u-bg-lightgray {
  background-color: var(--lightGray-f16457a0);
}

.repair-card.u-h-140 {
  min-height: 140px;
  min-width: 140px;
}

.col {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding-left: calc(var(--_layout---grid--gap-main) / 2);
  padding-right: calc(var(--_layout---grid--gap-main) / 2);
}

.col:where(.w-variant-28e74f51-d7e2-a771-32c6-dda728ccfa16) {
  max-width: 16.666666666666664%;
  flex: 25%;
}

.col:where(.w-variant-2a872dd3-bab5-8141-0ad7-251b924e42e6) {
  max-width: 33.333333333333336%;
  flex-grow: 1;
  flex-basis: 33.333333333333336%;
}

.col:where(.w-variant-52b169ce-f9c2-1128-cb8d-e5acee9f9159) {
  max-width: 50%;
  flex-grow: 1;
  flex-basis: 50%;
}

.col:where(.w-variant-f8adaa2d-7dff-f490-b6dd-19f48419d59b) {
  max-width: 75%;
  flex: 75%;
}

.col:where(.w-variant-1809bbfe-93c5-9995-a76f-dc2c5b37bfe3) {
  max-width: 41.66666666666667%;
  flex: 41.66666666666667%;
}

.col:where(.w-variant-d2d2a23d-14a1-7f5e-e8ec-4a285e5f4a7b) {
  max-width: 58.333333333333336%;
  flex: 58.333333333333336%;
}

.col:where(.w-variant-c40c2b54-bd7f-c6df-c4ad-1c9f757a89d2) {
  max-width: 66.66666666666666%;
  flex-basis: 66.66666666666666%;
}

.col:where(.w-variant-63569d8e-a8ac-61e1-0666-21eb6073c541) {
  flex: 0 auto;
}

.col:where(.w-variant-95c67bf8-407f-143d-c1b2-46906c26a2f4) {
  max-width: 83.33333333333334%;
  flex: 83.33333333333334%;
}

.col:where(.w-variant-6f373193-993b-d370-7068-a233ac19befc) {
  max-width: 91.66666666666666%;
  flex: 91.66666666666666%;
}

.col:where(.w-variant-c2470e99-215a-e78c-3ec0-c579f938e15e) {
  max-width: 100%;
  flex: 100%;
}

.col:where(.w-variant-37882ba8-3b46-b8b4-f297-a33f19abd3db) {
  max-width: 25%;
  flex: 25%;
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-28e74f51-d7e2-a771-32c6-dda728ccfa16) {
    max-width: 33.333333333333336%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-2a872dd3-bab5-8141-0ad7-251b924e42e6) {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-f8adaa2d-7dff-f490-b6dd-19f48419d59b) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-1809bbfe-93c5-9995-a76f-dc2c5b37bfe3) {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-d2d2a23d-14a1-7f5e-e8ec-4a285e5f4a7b) {
    max-width: 100%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-c40c2b54-bd7f-c6df-c4ad-1c9f757a89d2) {
    max-width: 100%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-95c67bf8-407f-143d-c1b2-46906c26a2f4) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-6f373193-993b-d370-7068-a233ac19befc) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 991px) {
  .col:where(.w-variant-37882ba8-3b46-b8b4-f297-a33f19abd3db) {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-2a872dd3-bab5-8141-0ad7-251b924e42e6) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-52b169ce-f9c2-1128-cb8d-e5acee9f9159) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-1809bbfe-93c5-9995-a76f-dc2c5b37bfe3) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-d2d2a23d-14a1-7f5e-e8ec-4a285e5f4a7b) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-c40c2b54-bd7f-c6df-c4ad-1c9f757a89d2) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col:where(.w-variant-28e74f51-d7e2-a771-32c6-dda728ccfa16) {
    max-width: 50%;
  }
}

@media screen and (max-width: 479px) {
  .col:where(.w-variant-28e74f51-d7e2-a771-32c6-dda728ccfa16) {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 479px) {
  .col:where(.w-variant-63569d8e-a8ac-61e1-0666-21eb6073c541) {
    flex: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .col:where(.w-variant-37882ba8-3b46-b8b4-f297-a33f19abd3db) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .repair-card.col.col-md-6 {
    min-width: auto;
  }
}

@media screen and (max-width: 479px) {
  .repair-card.col.col-md-6 {
    max-width: 173px;
    min-width: 173px;
  }
}

@media screen and (max-width: 991px) {
  .repair-card.col.col-md-6.col-lg-6.col-sm-6 {
    min-width: auto;
  }
}

@media screen and (max-width: 479px) {
  .repair-card.col.col-md-6.col-lg-6.col-sm-6 {
    min-width: 173px;
  }
}

.repair-icon {
  position: absolute;
  left: auto;
  top: 5%;
  right: 5%;
  bottom: auto;

  display: flex;
  width: 2.375rem;
  height: 2.375rem;
  min-height: 2.375rem;
  min-width: 2.375rem;
  justify-content: center;
  align-items: center;
  align-self: flex-end;

  border-radius: 19px;

  background-color: var(--_color---neutral--gray-100);
}

.repair-image {
  width: 100%;
  height: 115px;
}

.repair-image.u-h-80 {
  width: auto;
  height: 80px;
  max-height: 80px;
  max-width: 182px;
  min-height: 80px;
  min-width: 130px;
}

.repair-title {
  display: flex;
  overflow: hidden;
  width: 58%;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;

  color: var(--_color---neutral--gray-700);
  font-weight: var(--_typography---h1--font-weight-800);
}

.repair-title.u-pb-5 {
  padding-bottom: 10px;
}