.repair_information_card {
  display: flex;
  width: 518px;
  height: auto;
  min-height: 506px;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-radius: var(--_border---border-ratio-large);

  background-color: var(--_color---neutral--gray-100);
}

.repair_information_card.hover-bg-white {
  border: 0px solid var(--_color---neutral--gray-300);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.repair_information_card.hover-bg-white:hover {
  border-width: 1px;
  background-color: var(--_color---neutral--white);
  box-shadow: 0 2px 5px 0 rgba(45, 45, 59, 0.08);
}

@media screen and (max-width: 991px) {
  .repair_information_card.hover-bg-white {
    width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .repair_information_card.hover-bg-white {
    width: 370px;
  }
}

@media screen and (max-width: 479px) {
  .repair_information_card.hover-bg-white {
    width: 100%;
    min-height: auto;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
  }
}

.image-2 {
  height: 253px;
}

@media screen and (max-width: 991px) {
  .image-2 {
    height: 177px;
  }
}

@media screen and (max-width: 479px) {
  .image-2 {
    height: 177px;
    object-fit: cover;
  }
}

.cell_phone_tech_card {
  display: flex;
  height: 32.1754%;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 767px) {
  .cell_phone_tech_card {
    height: 100%;
    flex: 1;
  }
}

.cell_phone_tech_card.second-footer-icon {
  width: auto;
  max-width: 1290px;
  min-width: 330px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  flex: 0 auto;
}

@media screen and (max-width: 767px) {
  .cell_phone_tech_card.second-footer-icon {
    justify-content: center;
    align-items: center;
  }
}

.heading-3 {
  display: block;
  color: var(--_color---neutral--gray-700);
  line-height: var(--_typography---h4--line-height);
}

@media screen and (max-width: 479px) {
  .heading-3 {
    align-self: auto;
    text-align: center;
  }
}

.paragraph-2 {
  color: var(--_color---neutral--gray-700);
  line-height: var(--_typography---paragraph-xl--font-size-min-rem);
  font-weight: var(--_typography---paragraph-body--font-weight);
  text-align: center;
}

.button {
  position: relative;

  display: flex;
  margin-bottom: 23px;
  padding-top: var(--_components---button--vertical-padding);
  padding-right: var(--_components---button--horizontal-padding);
  padding-bottom: var(--_components---button--vertical-padding);
  padding-left: var(--_components---button--horizontal-padding);
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: 0.4em;
  grid-row-gap: 0.4em;

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #f9f9f9;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #f9f9f9;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #f9f9f9;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #f9f9f9;
  border-top-left-radius: var(--_border---border-ratio-extra-extra-large);
  border-top-right-radius: var(--_border---border-ratio-extra-extra-large);
  border-bottom-left-radius: var(--_border---border-ratio-extra-extra-large);
  border-bottom-right-radius: var(--_border---border-ratio-extra-extra-large);

  box-shadow: inset 0 0 0 0 transparent;
  pointer-events: auto;

  transition-property: box-shadow, border-color;
  transition-duration: 300ms, 300ms;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1), cubic-bezier(.165, .84, .44, 1);

  font-family: var(--_components---button--font);
  color: var(--_color---neutral--white);
  font-size: var(--_components---button--font-size);
  line-height: var(--_components---button--line-height);
  font-weight: var(--_components---button--font-weight);
  text-align: center;
  letter-spacing: var(--_components---button--letter-spacing);
  text-decoration: none;

  background-color: transparent;
}

.button:where(.w-variant-052759b4-b398-e98d-c28c-099b380d4426) {
  border-top-color: var(--colors--primary-accent);
  border-right-color: var(--colors--primary-accent);
  border-bottom-color: var(--colors--primary-accent);
  border-left-color: var(--colors--primary-accent);

  color: var(--colors--text);

  background-color: transparent;
}

.button:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.15);
}

.button:focus-visible {
  outline-color: var(--colors--primary-accent);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

@media screen and (max-width: 767px) {
  .button {
    margin-top: auto;
    text-align: left;
  }
}

.button.cc-full {
  width: 100%;
}

.u-mt-sm {
  margin-top: var(--_layout---spacing--margin-sm);
}

.button.services-btn {
  display: inline-flex;
  border-color: var(--_color---primary--red-400);
  background-color: var(--colors--text);
  color: var(--_color---primary--red-400);
  font-weight: var(--_typography---eyebrow--font-weight-extra-bold);
}

.button.services-btn.warranty-btn {
  display: inline-flex;
  width: auto;
  max-width: 608px;
  min-width: auto;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
}

.u-mt-auto {
  margin-top: auto;
}

.button.services-btn.warranty-btn.u-bg-red {
  background-color: var(--_color---primary--red-400);
}

@media screen and (max-width: 479px) {
  .button.services-btn.warranty-btn.u-bg-red {
    justify-content: center;
    align-items: center;
  }
}

.button.status-btn {
  height: 36px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (max-width: 767px) {
  .button.status-btn {
    margin-bottom: auto;
  }
}

@media screen and (max-width: 479px) {
  .button.status-btn {
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.button.status-btn.about-btn {
  margin-top: 30px;

  border-top-color: var(--_color---neutral--gray-700);
  border-right-color: var(--_color---neutral--gray-700);
  border-bottom-color: var(--_color---neutral--gray-700);
  border-left-color: var(--_color---neutral--gray-700);

  width: max-content;
}

.button.status-btn.about-btn.u-mt-0 {
  margin-top: 1px;
}

.u-mt-0 {
  margin-top: 0px;
}

@media screen and (max-width: 991px) {
  .u-mt-0 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .u-mt-0 {
    margin-top: 0px;
  }
}

.button.status-btn.about-btn.u-mt-0.u-bg-red {
  border-top-color: var(--_color---primary--orange);
  border-right-color: var(--_color---primary--orange);
  border-bottom-color: var(--_color---primary--orange);
  border-left-color: var(--_color---primary--orange);

  color: var(--colors--text);

  background-color: #DC282E;
}

.button.status-btn.about-btn.u-mt-0.u-bg-red.u-min-w-75 {
  font-weight: var(--_components---input-label--font-weight);
}

@media screen and (max-width: 479px) {
  .button.status-btn.about-btn.u-mt-0.u-bg-red.u-min-w-75 {
    min-width: 75px;
  }
}

@media screen and (max-width: 479px) {
  .button.status-btn.about-btn.u-mt-0.u-min-width146 {
    min-width: 146px;
  }
}

.button.status-btn.about-btn.u-bg-red {
  border-top-color: var(--colors--primary-accent);
  border-right-color: var(--colors--primary-accent);
  border-bottom-color: var(--colors--primary-accent);
  border-left-color: var(--colors--primary-accent);
  background-color: var(--colors--primary-accent);
}

.button.cpr-heading-btn {
  max-height: 42px;
  min-height: 42px;
  justify-content: center;
  align-items: center;

  border-top-color: #b9bdcb;
  border-right-color: #b9bdcb;
  border-bottom-color: #b9bdcb;
  border-left-color: #b9bdcb;

  background-color: transparent;

  border-radius: 4px;
}

.button.cpr-heading-btn.cc-header-icon-btn {
  max-height: 42px;

  border-top-color: #b9bdcb;
  border-right-color: #b9bdcb;
  border-bottom-color: #b9bdcb;
  border-left-color: #b9bdcb;

  transition-property: background-color, box-shadow, border-color;
  transition-duration: 625ms, 300ms, 300ms;
  transition-timing-function: ease, cubic-bezier(.165, .84, .44, 1), cubic-bezier(.165, .84, .44, 1);

  background-color: transparent;
}

.button.cpr-heading-btn.cc-header-icon-btn:hover {
  border-top-color: var(--colors--primary-accent);
  border-right-color: var(--colors--primary-accent);
  border-bottom-color: var(--colors--primary-accent);
  border-left-color: var(--colors--primary-accent);
  background-color: var(--_color---primary--red-400);
}

@media screen and (max-width: 479px) {
  .button.cpr-heading-btn.cc-header-icon-btn.u-min-w-162 {
    min-width: 162px;
  }
}

@media screen and (max-width: 991px) {
  .button.cpr-heading-btn.cc-header-icon-btn.u-min-w-162.u-width-max-content {
    min-width: max-content;
  }
}

@media screen and (max-width: 479px) {
  .button.cpr-heading-btn.u-min-w-209 {
    min-width: 209px;
  }
}

.button.cpr-heading-btn.u-min-w-209.cc-header-icon-btn:hover {
  border-color: var(--colors--primary-accent);
}

@media screen and (max-width: 991px) {
  .button.cpr-heading-btn.u-min-w-209.cc-header-icon-btn {
    min-width: max-content;
  }
}

@media screen and (max-width: 991px) {
  .button.cpr-heading-btn.u-min-w-209.cc-header-icon-btn.u-min-width-211 {
    min-width: 230px;
  }
}

.button.article-card-btn {
  margin-bottom: 0px;
  justify-content: flex-start;
  align-items: center;

  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;

  text-decoration: none;

  padding-left: 0px;
}

.btn-icon {
  display: inline-flex;
  max-width: 1.2em;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.btn-text {
  pointer-events: none;
  font-weight: var(--_typography---h1--font-weight-800);
}

@media screen and (max-width: 479px) {
  .btn-text {
    font-size: 12px;
  }
}

.btn-text.about-text {
  color: var(--_color---neutral--gray-700);
  font-weight: var(--_typography---h4--font-weight);
}

.about-text {
  color: var(--_color---neutral--gray-700);
}

.btn-text.about-text.u-text-white {
  color: var(--colors--text);
  font-weight: var(--_typography---h4--font-weight);
}

.u-text-white {
  color: var(--white-0065a3d9);
}

.btn-text.u-text-underline {
  text-decoration: underline;
}

.u-text-black {
  color: var(--colorBase-53d573b6);
}

.btn-text.u-font-weight-350 {
  pointer-events: auto;
  font-weight: 350;
}

.u-link-cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  width: 100%;
  height: 100%;
}

.u-d-none {
  display: none;
}

.u-sr-only {
  position: absolute;

  overflow: hidden;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  padding: 0px;

  border: 0px solid transparent;

  white-space: nowrap;
}