.crp_benefit_section {
  position: relative;
  padding-top: var(--_components---section--padding);
  padding-bottom: var(--_components---section--padding);
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: base;
}

.crp_benefit_section:where(.w-variant-ffdae436-6d76-12b6-39d6-0e4201c47aad) {
  background-color: var(--colors--text);
  color: var(--colors--background);
}

.crp_benefit_section:where(.w-variant-8251da35-d56b-3ffb-d48d-7c7a41627606) {
  background-color: var(--_color---neutral--light-gray);
  color: var(--_color---neutral--black);
}

.crp_benefit_section:where(.w-variant-24d38caf-5dc4-e032-8615-f1b8b9543543) {
  background-color: var(--_color---neutral--dark-gray);
  color: var(--_color---neutral--white);
}

@media screen and (max-width: 767px) {
  .crp_benefit_section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .crp_benefit_section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.crp_benefit_section.cc-footer {
  margin-top: auto;
  padding: 1.9rem;

  border-top: 1px solid var(--_color---neutral--dark-gray);
  border-radius: var(--_border---border-ratio-large);

  background-color: var(--_color---secondary--dark-blue-700);

  color: var(--colors--text);
}

.crp_benefit_section.cc-footer:where(.w-variant-03470b75-1c46-84c5-1d69-d2bb1e4cbe42) {
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-bf6faaa8-2bf5-9c53-b568-f9d802b7c009;
}

@media screen and (max-width: 479px) {
  .crp_benefit_section.cc-footer {
    padding: 30px;
  }
}

.crp_benefit_section.cc-footer.second-footer {
  border: 1px solid var(--_color---neutral--gray-400);
  background-color: var(--_color---neutral--gray-100);
}

.crp_benefit_section.cc-themed {
  background-color: var(--colors--background);
  color: var(--colors--text);
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: base;
}

.crp_benefit_section.cc-themed:where(.w-variant-ffdae436-6d76-12b6-39d6-0e4201c47aad) {
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-bf6faaa8-2bf5-9c53-b568-f9d802b7c009;
}

.crp_benefit_section.cc-themed:where(.w-variant-8251da35-d56b-3ffb-d48d-7c7a41627606) {
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-58b0a2b9-2dc1-9157-a0dd-7d9af1d425d6;
}

.crp_benefit_section.cc-themed:where(.w-variant-24d38caf-5dc4-e032-8615-f1b8b9543543) {
  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-f069190d-3662-920d-afc0-b53953d4bc44;
}

.container {
  display: block;
  width: 88%;
  max-width: var(--_components---container--max-width);
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.container.cc-nav {
  display: flex;
  overflow: clip;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 479px) {
  .container.cc-nav {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.u-text-center {
  text-align: center;
}

.container.flex-box {
  display: block;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  ---mode--collection-7df4a73c-9a56-a8b7-efe4-68d0c5f0336d: mode-bf6faaa8-2bf5-9c53-b568-f9d802b7c009;
}

@media screen and (max-width: 479px) {
  .container.flex-box {
    flex: 0 auto;
  }
}

.container.flex-box.cpr_container {
  width: 100%;
  max-width: 1327px;
  padding-right: 60px;
  padding-left: 60px;
}

.container.flex-box.cpr_container:where(.w-variant-5a57e8fe-f683-d12b-bd10-ad250accb6b0) {
  max-width: 979px;
}

@media screen and (max-width: 991px) {
  .container.flex-box.cpr_container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 479px) {
  .container.flex-box.cpr_container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .container.second-footer-mobile-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.slot {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.slot.cc-section {
  position: static;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.slot.cc-column {
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.slot.cc-card {
  align-items: stretch;
  flex: 1;
}

.slot.cc-card-body {
  height: 100%;
}

.slot.cc-list {
  justify-content: flex-start;
  align-items: stretch;
  grid-column-gap: var(--_layout---spacing--margin-sm);
  grid-row-gap: var(--_layout---spacing--margin-sm);
}