.location {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 991px) {
  .location {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .location {
    margin-top: 0px;
  }
}

.location.u-mt-20 {
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .location.u-mt-20 {
    justify-content: flex-start;
    align-items: center;
  }
}

.code-embed-3 {
  padding-top: 10px;
}

.button-2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: hsla(0, 2.51%, 5.85%, 0.02);

  background-color: transparent;

  color: #fff;
}